@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  --background: 0 0% 0%;
  --foreground: 0 0% 100%;
  --border: 0 0% 20%;
}

.light {
  --background: 0 0% 100%;
  --foreground: 0 0% 0%;
  --border: 0 0% 90%;
}

* {
  scroll-behavior: smooth;
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  transition: background-color 0.3s ease, color 0.3s ease;
}
